<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="120" cookieless="false" timeout="15" />
    </system.web>

  <appSettings>
    <add key="connectionstring" value="server=127.0.0.1;database=Kinder;Persist Security Info=True;User ID=sa;Password=titan*12345;Pooling=true;min pool size=4;max pool size=32;"/>
    <add key="childdisplay" value="3"/>
    <add key="picturefolder" value="C:\bat\picture\"/>
    <add key="LogPath" value="D:\pickup\log.txt"/>
    
  </appSettings>
</configuration>
